<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="branch">

<select id="listArea" resultType="com.zinsupark.branch.Branch">
	select areaCode,areaName from area
</select>

<insert id="insertBranch" parameterType="com.zinsupark.branch.Branch">
	insert into branch( branCode,branName,branZip,branAddr1,branAddr2,areaCode,imageFilename)
				values(branch_seq.nextval,#{branName},#{branZip},#{branAddr1},#{branAddr2},#{areaCode},#{imageFilename})
</insert>

<select id="listBranch" resultType="com.zinsupark.branch.Branch">
	select branCode,branName,branZip,branAddr1,branAddr2,imageFilename  from branch
</select>
</mapper>