<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="branch">

<select id="listArea" resultType="com.zinsupark.branch.Branch">
	select areaCode,areaName from area
</select>

<insert id="insertBranch" parameterType="com.zinsupark.branch.Branch">
	insert into branch( branCode,branName,branZip,branAddr1,branAddr2,areaCode,imageFilename)
				values(branch_seq.nextval,#{branName},#{branZip},#{branAddr1},#{branAddr2},#{areaCode},#{imageFilename})
</insert>

<select id="listBranch" resultType="com.zinsupark.branch.Branch">
	select branCode,branName,branZip,branAddr1,branAddr2,imageFilename  from branch
		 <where>
			<if test="areaCode!=0">
				areaCode = #{areaCode}
			</if>
		</where>  
		ORDER BY branCode DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
</select>

<select id="readBranch" parameterType="Integer" resultType="com.zinsupark.branch.Branch">
	select branCode,branName,branZip,branAddr1,branAddr2,imageFilename,areaCode  from branch where branCode=#{branCode}
</select>

<update id="updateBranch">
	update branch set branName=#{branName},branZip=#{branZip},branAddr1=#{branAddr1},branAddr2=#{branAddr2}
	,areaCode=#{areaCode},imageFilename=#{imageFilename} where branCode=#{branCode}
</update>

<select id="branchCount" parameterType="map" resultType="Integer">
	select NVL(count(*),0) from branch
		<where>
			<if test="areaCode!=0">
				areaCode = #{areaCode}
			</if>
		</where>  
</select>

<select id="selectMovie" resultType="com.zinsupark.branch.Branch">
	SELECT movieCode, movieNm, thumbNail
	FROM movie
	WHERE SYSDATE &lt; ENDDATE
</select>



</mapper>