<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema">

<insert id="insertCinema" parameterType="com.zinsupark.cinema.Cinema">
	insert into cinema(cmCode,cmName,cmLocation,cmRange,cmSeatTot,cmSeatMap) values
				(cinema_seq.nextval,#{cmName},#{cmLocation},#{cmRange},#{cmSeatTot},#{cmSeatMap})
</insert>

<select id="readCinema" parameterType="Integer" resultType="com.zinsupark.cinema.Cinema">
	select * from cinema where cmCode=#{cmCode}
</select>

<update id="updateCinema" parameterType="com.zinsupark.cinema.Cinema">
	update cinema set cmName=#{cmName},cmLocation=#{cmLocation},cmRange=#{cmRange},
						cmSeatTot=#{cmSeatTot},cmSeatMap=#{cmSeatMap} where cmCode=#{cmCode}
</update>
</mapper>