<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="event">
	<!-- 글 등록 -->
	<insert id="insertEvent" parameterType="com.zinsupark.event.Event">
		INSERT INTO event(ecode, userId, sdate, edate, subject, content, imageName,
		imageFilename, lott, lottDate, elink, mcount, ecategoryCode, censor)
			VALUES (event_seq.NEXTVAL, #{userId}, #{sdate}, #{edate}, #{subject}, #{content}, #{imageName},
					#{imageFilename}, #{lott}, #{lottDate}, #{elink}, #{mcount}, #{ecategoryCode}, 0)
	</insert>
	
	
	<sql id="where-list">
		<if test="condition=='all'">
			( INSTR(subject, #{keyword}) &gt; 0
				OR INSTR(content, #{keyword}) &gt; 0 )
		</if>
		<if test="condition=='subject'">
			INSTR(subject, #{keyword}) &gt; 0
		</if>
		<if test="condition=='content'">
			INSTR(content, #{keyword}) &gt; 0 
		</if>
		<if test="condition=='created'">
			( TO_CHAR(created, 'YYYY-MM-DD') = #{keyword}
				OR TO_CHAR(created, 'YYYYMMDD') = #{keyword})
		</if>
		
	</sql>
	
	<!-- 분류 코드 등록 -->
	<select id="listCategory" resultType="com.zinsupark.event.Event">
		SELECT eCategoryCode, eCategoryName 
		FROM eventCategory
	</select>
	
	<!-- 데이터 개수 -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM event e
		JOIN member m ON e.userId=m.userId
		<where>
		   censor=0
			<if test="ecategoryCode!=0">
				AND ecategoryCode = #{ecategoryCode}
			</if>
			<choose>
				<when test="state==1">
				    AND edate &gt;= SYSDATE
				</when>
				<otherwise>
				    AND edate &lt; SYSDATE
				</otherwise>
			</choose>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list"/>
			</if>
		</where>		
	</select>
	
	<!-- 리스트 출력 -->
	<select id="listEvent" parameterType="map" resultType="com.zinsupark.event.Event">
		SELECT ecode, e.userId, TO_CHAR(sdate, 'yyyy-mm-dd') as sdate, TO_CHAR(edate, 'yyyy-mm-dd') as edate, imageName,
		subject, TO_CHAR(created, 'yyyy-mm-dd') as created, TO_CHAR(lottDate, 'yyyy-mm-dd') as lottDate, imageFilename, lott, eLink, mcount, censor
		FROM event e
		JOIN member m ON e.userId=m.userId
		<where>
		    censor = 0
			<if test="ecategoryCode!=0">
				AND ecategoryCode = #{ecategoryCode}
			</if>
			<choose>
				<when test="state==1">
				    AND edate &gt;= SYSDATE
				</when>
				<otherwise>
				    AND edate &lt; SYSDATE
				</otherwise>
			</choose>
			<if test="keyword != null and keyword != ''">
				AND <include refid="where-list"/>
			</if>
		</where>
		ORDER BY ecode DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	

	<!-- 글 보기 -->
	<select id="readEvent" parameterType="Integer" resultType="com.zinsupark.event.Event">
		SELECT ecode, subject, TO_CHAR(sdate, 'yyyy-mm-dd') as sdate, TO_CHAR(edate, 'yyyy-mm-dd') as edate, imageName,
				content, TO_CHAR(created, 'yyyy-mm-dd') as created, imageFilename, lott, TO_CHAR(lottDate, 'yyyy-mm-dd') as lottDate,
				TO_CHAR(lottDate, 'yyyy-mm-dd') as lottDate, elink, mcount, censor, ecategoryCode
		FROM event e
		JOIN member m ON e.userId=m.userId
		WHERE ecode=#{ecode}
	</select>
	
	<!-- 글 수정 -->
	<update id="updateEvent" parameterType="com.zinsupark.event.Event">
		UPDATE event SET sdate=#{sdate}, edate=#{edate}, subject=#{subject}, content=#{content}, lottDate=#{lottDate},
						imageFilename=#{imageFilename}, imageName=#{imageName}, lott=#{lott}, elink=#{elink},
						mcount=#{mcount}, ecategoryCode=#{ecategoryCode}
		WHERE ecode=#{ecode}
	</update>
	
	<!-- 글 삭제  : censor를 1로 변경 -->
	<update id="deleteEvent" parameterType="Integer">
		UPDATE event SET censor=#{censor} WHERE ecode=#{ecode}
	</update>
	
	<!-- 댓글 -->
	<insert id="insertReply" parameterType="com.zinsupark.event.Reply">
		INSERT INTO eventReply(rcode, answer, ecode, userId, content)
			VALUES (eventReply_seq.NEXTVAL, #{answer}, #{ecode}, #{userId}, #{content})
	</insert>

	<select id="replyCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0) FROM eventReply
		WHERE ecode=#{ecode} AND answer=0
	</select>
	
	<select id="listDott" parameterType="map" resultType="com.zinsupark.event.Event">
	SELECT e.ecode, subject, TO_CHAR(created, 'yyyy-mm-dd') as created, mCount, ecategoryCode
		FROM event e
		JOIN eventrequest d ON e.userId=d.userId
		ORDER BY e.ecode DESC
		OFFSET #{offset} ROWS FETCH FIRST #{rows} ROWS ONLY
	</select>
	
	<select id="dottCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM event e
		JOIN member m ON e.userId=m.userId
	</select>
	
	<!-- 당첨자 리스트 글 보기 -->
	<select id="readDott" parameterType="Integer" resultType="com.zinsupark.event.Event">
		SELECT ecode, subject, content, TO_CHAR(created, 'yyyy-mm-dd') as created,
				mcount
		FROM event e
		JOIN member m ON e.userId=m.userId
		WHERE ecode=#{ecode}
	</select>

</mapper>